.dummy{
	color : black;
}
.error-style{
	color: red;
    font-weight: 500;
    padding: 1rem 0;
}

.button{

display: block;
  width: 100%;
  border: none;
  padding: 4px 27px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;

}